{
    "timeout": 2,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "php:\/\/stderr",
        "stryker": {
            "report": "latest"
        }
    },
    "mutators": {
        "@default": true,
        "IdenticalEqual": false,
        "NotIdenticalNotEqual": false,
        "UnwrapArrayFilter": false,
        "UnwrapArrayValues": false
    },
    "minMsi": 97.5,
    "minCoveredMsi": 100
}
