name: Push to master build

on:
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Cache Composer packages
        uses: actions/cache@v2
        with:
          path: vendor
          key: ${{ runner.os }}-node-${{ hashFiles('/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies
        run: composer install --no-progress --no-suggest

      - name: Set up user name and email for git
        run: |
          git config --global user.email "$GIT_USER_EMAIL"
          git config --global user.name "$GIT_USER_NAME"
        env:
          GIT_USER_EMAIL: test@test.com
          GIT_USER_NAME: test

      - name: Build advisories
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: php build-conflicts.php
