name: Quality check

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          php-version: "8.0"
          ini-values: memory_limit=-1
          tools: composer:v2, cs2pr

      - name: "Cache dependencies"
        uses: "actions/cache@v2"
        with:
          key: ${{ runner.os }}-node-${{ hashFiles('/composer.lock') }}
          path: |
            ~/.composer/cache
            vendor

      - name: Install dependencies
        run: composer install --no-progress --no-suggest

      - name: Code sniffer
        run: vendor/bin/phpcs

      - name: Psalm
        run: vendor/bin/psalm

      - name: Phpunit
        run: vendor/bin/phpunit

      - name: Mutation testing
        run: phpdbg -qrr vendor/bin/roave-infection-static-analysis-plugin

      - name: Memory leaks detection
        run: vendor/bin/roave-no-leaks
